


h1{
   color: green;
}
.mainBtn{
   background-color: red;
}
.secondaryBtn {
   background-color: blue;
}
main{
   img{
      width : 200px;
   }
}


.show{
   display: block;
}
.hide{
   display: none;

}

