<h1>To do app</h1>

<input type="text" [(ngModel)]="newTask" placeholder="Enter task" />
<p>{{taskPriority}}</p>
<input type="range" min="1" max="5" [(ngModel)]="taskPriority" >
<button (click)="addTask()">{{addText}}</button>

<!-- *ngIf *ngFor -->

<div class="tasks">
  @for (item of tasks; track $index) {
    <div class="row" [ngStyle]="{color: item.completed ? 'green': 'purple' } ">
      <span [class]="item.completed ? 'comp' : ''" >{{ item.title }}</span>
      <span>
        <span>{{'⭐'.repeat(item.priority)}}</span>
        <span>{{'☆'.repeat(5-item.priority)}}</span>
      </span>
      <button  (click)="compliteTask(item)">{{ !item.completed ? 'Complete' : 'Undo' }}</button>
      <button   (click)="editTaks(item, $index)">🖉</button>
      <button [ngClass]="{red : item.completed}"  (click)="deleteTask(item)">x</button>
    </div>
  }
</div>

<!-- item.completed? 'comp' : '' -->

<!-- [ngClass]
[ngStyle] -->